* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 1 solid black;
  box-sizing: border-box;
}


body, html, #root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, rgb(31, 14, 14) 5%, rgb(0, 0, 0));
}


